html {
	margin:0;
	padding:0;
	width:100%;}
body {
	width:100%;
	margin:0;
	padding:0;
	background-color:#222222;
	overflow-x:hidden;}
a {
	color:#FFF;
	font-family:'Code-Pro-Light';
	font-size:16px;
	text-decoration:none;}
h1 {
	color:#333;
	font-family:'Code-Pro-Black';
	letter-spacing:2px;
	line-height:1;
	font-size:75px;}
h2 {
	color:#FFF;
	font-family:'Code-Pro-Black';
	letter-spacing:1px;
	line-height:1;
	font-size:40px;}
h3 {
	color:#FFF;
	font-family:'Code-Pro-Black';
	letter-spacing:1px;
	line-height:1;
	line-height:20px;
	font-size:30px;}
p {
	color:#FFF;
	font-family:'Code-Pro-Light';
	font-size:24px;}
.margin-bottom {
	margin-bottom:60px;}
span {
	font-family:'Code-Pro-Light';}
	

#main-img {
	width:100%;
	background-image:url(../images/main-img.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	display:-webkit-flex;
	display:flex;
	position: fixed;
	top:0;
	left:0;
	z-index:-1;}
#main-logo {
    -webkit-align-self: center;
    align-self: center;
	text-align:center;
    margin-left:auto;
    margin-right:auto;    
    width: 100%;
    height: 25%;
	position:relative;}
#horiz-line {
	position:absolute;
	top:50%;
	left:50%;
	width:1px;
	border:1px solid #ecf0f1;
	z-index:-2;}
#scroll-down {
    margin-left:auto;
    margin-right:auto;    
    width: 100px;
    height: auto;
	position:absolute;
	top:65%;
	left: calc(50% - 50px);
	z-index:-2;}

/* HEADER MENU SHARE */
header {
	width:100%;
	height:50px;
	background-color:#333;
	z-index:1000;}
.fixed {
	position:fixed;
	top:0;
	left:0;}
#logo {
	float:left;
	margin-right:1px;
	height:50px;
	width:126px;
	background-image:url(../images/header-logo.jpg);
	background-size:cover;}

.menu_btn {
	font-family:'Code-Pro-Light';
	font-size:20px;
	line-height:25px;
	float:left;
	margin-left:-1px;
	vertical-align:top;
	color:#f4f6f7;
	padding:12.7px;
	border-right:1px solid #444;	
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;}
.menu_btn:hover {
	color:#333;
	background: #ecf0f1;}
.left-border {
	border-left:1px solid #444;}

.menu_info {
	font-family:'Code-Pro-Light';
	font-size:14px;
	line-height:25px;
	float:left;
	margin-left:-1px;
	vertical-align:top;
	color:#f4f6f7;
	padding:12.7px;
	border-right:1px solid #444;}

#social {
	float:right;
	height:50px;
	width:0px;
	overflow:hidden;
	box-shadow:inset 0 0 10px #222;
	-moz-box-shadow:inset 0 0 10px #222;
	border-left:1px solid #444;}
#share a {
	float:right;}
.share_btn {
	font-size:20px;
	line-height:25px;
	float:left;
	margin-left:-1px;
	vertical-align:top;
	color:#f4f6f7;
	padding:12.7px;
	border-right:1px solid #444;}
.share_icon {
	font-size:20px;
	line-height:25px;
	float:left;
	margin-left:-1px;
	vertical-align:top;
	color:#f4f6f7;
	padding:12.7px;
	border-right:1px solid #444;	
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;}
.share_icon:hover {
	background: #ecf0f1;}
.share_icon:nth-child(1):hover {
	color:#3498db;}
.share_icon:nth-child(2):hover {
	color:#1abc9c;}
.share_icon:nth-child(3):hover {
	color:#2980b9;}
.share_icon:nth-child(4):hover {
	color:#e74c3c;}


/* GRID BLOCKS */
section {
	width:100%;
	margin:0;
	padding:0;}
figure {
	display:-webkit-flex;
	display:flex;
	margin:0;
	padding:0;
	overflow:hidden;
	position:absolute;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;}
.top {
	z-index:500;}
.face {
	display:-webkit-flex;
	display:flex;}
.block {
    -webkit-align-self: center;
    align-self: center;
	text-align:center;
    margin-left:auto;
    margin-right:auto;
	margin-bottom:10%;   
    width: 75%;
    height: auto;}
	
.btn {
	margin:0;
	padding:20px;
	cursor:pointer;
	transition: all 0.3s ease-in-out 0s;}
.btn.dark {
	color:#333;
	border:1px solid #333;
	z-index:1000;}	
.btn.dark:hover {
	color:#fff;
	background-color:#333;}
.btn.light {
	color:#FFF;
	border:1px solid #FFF;
	z-index:1000;}	
.btn.light:hover {
	color:#333;
	background-color:#FFF;}

/* FLIPPER */	
.flip-v {
	-webkit-perspective: 800;
	-moz-perspective: 800;
	-ms-perspective:800;
	-o-perspective: 800;
	perspective: 800;
	width: 100%;
	position: relative;}
.flip-v .card.flipped {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);  
	transform: rotateY(-180deg);}
.flip-v .card {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
	-moz-transform-style: preserve-3d;
	-moz-transition: 0.5s;
	-ms-transform-style: preserve-3d;
	-ms-transition: 0.5s;
	-o-transform-style: preserve-3d;
	-o-transition: 0.5s;
	transform-style: preserve-3d;
	transition: 0.5s;}
.flip-v .card .face {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-backface-visibility: hidden ;
	-moz-backface-visibility: hidden ;
	-ms-backface-visibility: hidden ;
	-o-backface-visibility: hidden ;
	backface-visibility: hidden ;
	z-index: 2;}
.flip-v .card .front {
	position: absolute;
	z-index: 1;}
.flip-v .card .back {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	transform: rotateY(-180deg);}

.flip-h {
	-webkit-perspective: 800;
	-moz-perspective: 800;
	-ms-perspective: 800;
	-o-perspective: 800;
	perspective: 800;
	width: 100%;
	position: relative;}
.flip-h .card.flipped {
	-webkit-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
	-ms-transform: rotateX(-180deg);
	-o-transform: rotateX(-180deg);  
	transform: rotateX(-180deg);}
.flip-h .card {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
	-moz-transform-style: preserve-3d;
	-moz-transition: 0.5s;
	-ms-transform-style: preserve-3d;
	-ms-transition: 0.5s;
	-o-transform-style: preserve-3d;
	-o-transition: 0.5s;
	transform-style: preserve-3d;
	transition: 0.5s;}
.flip-h .card .face {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-backface-visibility: hidden ;
	-moz-backface-visibility: hidden ;
	-ms-backface-visibility: hidden ;
	-o-backface-visibility: hidden ;
	backface-visibility: hidden ;
	z-index: 2;}
.flip-h .card .front {
	position: absolute;
	z-index: 1;
	color: white;}
.flip-h .card .back {
	-webkit-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
	-ms-transform: rotateX(-180deg);
	-o-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
    color: black;}

/* PERCENTAGE BAR */
.bar-main-container {
  margin: 10px auto;
  width: 300px;
  height: 50px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 0.8em;
  color: #FFF;}
.wrap { padding: 8px; }
.bar-percentage {
  float: left;
  background: rgba(0,0,0,0.13);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 9px 0px;
  width: 18%;
  height: 16px;}
.bar-container {
  float: right;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 10px;
  background: rgba(0,0,0,0.13);
  width: 78%;
  margin: 12px 0px;
  overflow: hidden;}
.bar {
  float: left;
  background: #FFF;
  height: 100%;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;}
/* COLORS */
.azure   { background: #38B1CC; }
.emerald { background: #2CB299; }
.violet  { background: #8E5D9F; }
.yellow  { background: #EFC32F; }
.red     { background: #E44C41; }



/** INDEX **/	

#last-work, #who-we-are, #face-to-face, #contacts {
	position:relative;
	width:100%;
	background-color:#000;}

/* LAST-WORK */
#last-work {
	-webkit-box-shadow: 0px 0px 10px 5px;
	box-shadow: 0px 0px 10px 5px; }
#last-work figure:nth-child(1) {
	top:0;
	left:0;
	width:25%;
	height:50%;}
#last-work figure:nth-child(2) {
	background-image:url(../images/portfolio/p-1.jpg);
	top:50%;
	left:0;
	width:25%;
	height:50%;}
#last-work figure:nth-child(3) {
	background-image:url(../images/portfolio/p-2.jpg);
	top:0;
	left:25%;
	width:25%;
	height:50%;}
#last-work figure:nth-child(4) {
	background-image:url(../images/portfolio/p-3.jpg);
	top:50%;
	left:25%;
	width:25%;
	height:50%;}
#last-work figure:nth-child(5) {
	background-image:url(../images/portfolio/p-4.jpg);
	top:0;
	left:50%;
	width:50%;
	height:100%;}

/* WHO-WE-ARE */
#who-we-are .face.front figure {
	background:#2c3e50;
	top:0;
	left:0;
	width:100%;
	height:100%;}
#who-we-are .face.back figure:nth-child(1) {
	background:#1abc9c;
	top:0;
	left:0;
	width:50%;
	height:100%;}
#who-we-are .face.back figure:nth-child(2) {
	background:#3498db;
	top:0;
	left:50%;
	width:50%;
	height:100%;}


/* FACE2FACE */
.left-face {
	background-image:url(../images/portfolio/p-7.jpg);
	background-position:center;
	position:absolute;
	top:0;
	left:0;
	width:50%;
	height:100%;}
.right-face {
	background-image:url(../images/portfolio/p-7.jpg);	
	position:absolute;
	top:0;
	left:50%;
	width:50%;
	height:100%;}
	
/* CONTACTS */
#contacts figure:nth-child(1) {
	top:0;
	left:0;
	width:50%;
	height:100%;
	background-color:#e74c3c;}
#contacts figure:nth-child(2) {
	top:0;
	left:50%;
	width:50%;
	height:100%;
	background-color:#c0392b;}
form p {
	font-size:16px;}
	
/* MAP */
#map-canvas {
	margin: 0;
    padding: 0;
    height: 100%;
	width:100%;}
.gmnoprint {
	display:none;}




/** PORTFOLIO **/	

/* FILTER */
#filters {
	float:left;
	height:50px;
	width:0px;
	margin:0;
	padding:0;
	overflow:hidden;
	box-shadow:inset 0 0 10px #222;
	-moz-box-shadow:inset 0 0 10px #222;}

#filters button, #scroller button {
	font-family:'Code-Pro-Light';
	line-height:23px;
	background:none;
	border:0;
	cursor:pointer;}
#filters button:hover, #scroller button:hover {
	background:#ecf0f1;}
#filters button.active, #scroller button.active {
	background:#ecf0f1;
	color:#333;}

/* GRID */
#container {
	margin-top:50px;}
.item {
  width: 25%;
  float: left;}

.item.w2 {
	width: 50%;}
.item.h2 {
	height: 50%;}

.item:first-child {
	background-image:url(../images/portfolio/p-1.jpg);}
.item:nth-child(2) {
	background-image:url(../images/portfolio/p-2.jpg);
	background-size:cover;
	background-position:center;}
.item:nth-child(3) {
	background-image:url(../images/portfolio/p-3.jpg);
	background-size:cover;
	background-position:center;}
.item:nth-child(4) {
	background-image:url(../images/portfolio/p-4.jpg);
	background-size:cover;
	background-position:center;}
.item:nth-child(5){
	background-image:url(../images/portfolio/p-5.jpg);
	background-size:cover;
	background-position:center;}
.item:nth-child(6) {
	background-image:url(../images/portfolio/p-6.jpg);
	background-size:cover;
	background-position:center;}
.item:nth-child(7) {
	background-image:url(../images/portfolio/p-7.jpg);
	background-size:cover;
	background-position:center;}
.item:nth-child(8) {
	background-image:url(../images/portfolio/p-8.jpg);
	background-size:cover;
	background-position:center;}
.item:nth-child(9) {
	background-image:url(../images/portfolio/p-9.jpg);
	background-size:cover;
	background-position:center;}
.item:nth-child(10) {
	background-image:url(../images/portfolio/p-10.jpg);
	background-size:cover;
	background-position:center;}
.item:nth-child(11) {
	background-image:url(../images/portfolio/p-11.jpg);
	background-size:cover;
	background-position:center;}
.item:nth-child(12) {
	background-image:url(../images/portfolio/p-12.jpg);
	background-size:cover;
	background-position:center;}
.item:nth-child(13) {
	background-image:url(../images/portfolio/p-13.jpg);
	background-size:cover;
	background-position:center;}
.item:nth-child(14) {
	background-image:url(../images/portfolio/p-14.jpg);
	background-size:cover;
	background-position:center;}
.item:nth-child(15) {
	background-image:url(../images/portfolio/p-15.jpg);
	background-size:cover;
	background-position:center;}
.item:nth-child(16) {
	background-image:url(../images/portfolio/p-16.jpg);
	background-size:cover;
	background-position:center;}
.item:nth-child(17) {
	background-image:url(../images/portfolio/p-17.jpg);
	background-size:cover;
	background-position:center;}
.item:nth-child(18) {
	background-image:url(../images/portfolio/p-18.jpg);
	background-size:cover;
	background-position:center;}
.item:nth-child(19) {
	background-image:url(../images/portfolio/p-13.jpg);
	background-size:cover;
	background-position:center;}
.item:nth-child(20) {
	background-image:url(../images/portfolio/p-11.jpg);
	background-size:cover;
	background-position:center;}

/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;}
.isotope {
  -webkit-transition-property: height;
     -moz-transition-property: height;
      -ms-transition-property: height;
       -o-transition-property: height;
          transition-property: height;}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;}




/** SERVICES **/

#scroller {
	float:left;
	height:50px;
	width:0px;
	margin:0;
	padding:0;
	overflow:hidden;
	box-shadow:inset 0 0 10px #222;
	-moz-box-shadow:inset 0 0 10px #222;
	border-right:1px solid #444;}
#web, #seo, #apps, #brand, #print, #photo, #video {
	position:relative;
	top:50px;
	width:100%;
	background-color:#ecf0f1;}

/* WEB */
#web figure:nth-child(1) {
	top:0;
	left:0;
	width:50%;
	height:100%;
	background-color:#2ecc71;}
#web figure:nth-child(2) {
	top:0;
	left:50%;
	width:50%;
	height:100%;
	background-color:#1abc9c;}

/* SEO */
#seo figure:nth-child(1) {
	top:0;
	left:0;
	width:50%;
	height:100%;
	background-color:#9b59b6;}
#seo figure:nth-child(2) {
	top:0;
	left:50%;
	width:50%;
	height:100%;
	background-color:#3498db;}

/* APPS */
#apps figure:nth-child(1) {
	top:0;
	left:0;
	width:50%;
	height:100%;
	background-color:#27ae60;}
#apps figure:nth-child(2) {
	top:0;
	left:50%;
	width:50%;
	height:100%;
	background-color:#16a085;}

/* BRANDS */
#brand figure:nth-child(1) {
	top:0;
	left:0;
	width:50%;
	height:100%;
	background-color:#2980b9;}
#brand figure:nth-child(2) {
	top:0;
	left:50%;
	width:50%;
	height:100%;
	background-color:#8e44ad;}

/* PRINT */
#print figure:nth-child(1) {
	top:0;
	left:0;
	width:50%;
	height:100%;
	background-color:#e67e22;}
#print figure:nth-child(2) {
	top:0;
	left:50%;
	width:50%;
	height:100%;
	background-color:#f1c40f;}

/* PHOTO */
#photo figure:nth-child(1) {
	top:0;
	left:0;
	width:50%;
	height:100%;
	background-color:#e74c3c;}
#photo figure:nth-child(2) {
	top:0;
	left:50%;
	width:50%;
	height:100%;
	background-color:#ecf0f1;}

/* VIDEO */
#video figure:nth-child(1) {
	top:0;
	left:0;
	width:50%;
	height:100%;
	background-color:#7f8c8d;}
#video figure:nth-child(2) {
	top:0;
	left:50%;
	width:50%;
	height:100%;
	background-color:#d35400;}

	


@media only screen and (max-width: 1400px) {
#long-link {
	font-size:14px;}
}
@media only screen and (max-width: 1250px) {
#long-link {
	font-size:12px;}
p {
	font-size:22px;}
.margin-bottom {
	margin-bottom:55px;}
}
@media only screen and (max-width: 1200px) {
p {
	font-size:20px;}
.margin-bottom {
	margin-bottom:50px;}
}
@media only screen and (max-width: 1150px) {
#long-link {
	font-size:11px;}
p {
	font-size:20px;}
.margin-bottom {
	margin-bottom:45px;}
}
@media only screen and (max-width: 1100px) {
#long-link {
	font-size:14px;}
h1 {
	font-size:65px;}
h2 {
	font-size:30px;}
#who-we-are .flip-h.box2 .card .face.back figure .block h2 {
	margin-top:50px;}
p {
	font-size:18px;}
.margin-bottom {
	margin-bottom:40px;}
form {
	margin-top:50px;}
form p {
	font-size:14px;}
#who-we-are .flip-h.box2 .card .face.back figure .block .margin-bottom {
	margin-bottom:20px;}
.hide-medium {
	display:none;}

/* LAST-WORK */	
#last-work figure:nth-child(1) {
	top:0;
	left:0;
	width:50%;
	height:50%;}
#last-work figure:nth-child(2) {
	background-image:url(../images/portfolio/p-1.jpg);
	top:50%;
	left:0;
	width:50%;
	height:50%;}
#last-work figure:nth-child(3) {
	background-image:url(../images/portfolio/p-2.jpg);
	top:0;
	left:50%;
	width:50%;
	height:100%;}
#last-work figure:nth-child(4) {
	display:none;}
#last-work figure:nth-child(5) {
	display:none;}

/* PERCENTAGE BAR */
.bar-main-container {
  width: 250px;
  height: 40px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 0.7em;}
.wrap { padding: 7px; }
.bar-percentage {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 8px 0px;
  width: 18%;
  height: 10px;}
.bar-container {
  float: right;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  height: 8px;
  width: 78%;
  margin: 8px 0px;}
.bar {
  -webkit-border-radius: 7px 0px 0px 7px;
  -moz-border-radius: 7px 0px 0px 7px;
  border-radius: 7px 0px 0px 7px;}
}
@media only screen and (max-width: 970px) {
h1 {
	font-size:60px;}
#who-we-are .flip-h.box2 .card .face.front figure .block h1	{
	margin-bottom:20px;}
h2 {
	font-size:28px;}
#who-we-are .flip-h.box2 .card .face.back figure .block h2 {
	margin-top:50px;}
p {
	font-size:16px;}
.margin-bottom {
	margin-bottom:35px;}
form p {
	font-size:12px;}
}
@media only screen and (max-width: 900px) {
h1 {
	font-size:60px;}
#who-we-are .flip-h.box2 .card .face.front figure .block h1	{
	margin-bottom:20px;}
h2 {
	font-size:24px;}
#who-we-are .flip-h.box2 .card .face.back figure .block h2 {
	margin-top:50px;}
p {
	font-size:13px;}
.margin-bottom {
	margin-bottom:35px;}
form p {
	font-size:12px;}
.form label { 
	margin-left: 6px; }
}
@media only screen and (max-width: 900px) {

	
}

/*@media only screen and (max-width: 1050px) {
#long-link {
	font-size:10px;}
h1 {
	font-size:65px;}
h2 {
	font-size:30px;}
p {
	font-size:18px;}
.margin-bottom {
	margin-bottom:40px;}
form p {
	font-size:14px;}
#who-we-are .flip-h.box2 .card .face.back figure .block .margin-bottom {
	margin-bottom:20px;}
}*/
